{
    auto_https off
    admin off
}
:7443 {
    tls /tmp/caddy/tls.crt /tmp/caddy/tls.key
    handle /files* {
        basic_auth {
            {$LOGIN_USER} {$FILES_HASH}
        }
        reverse_proxy 127.0.0.1:8585
    }
    handle /apps* {
        reverse_proxy 127.0.0.1:8686
    }
    handle {
        reverse_proxy https://127.0.0.1:6901 {
            transport http {
                tls_insecure_skip_verify
            }
        }
    }
}
