[SddmGreeterTheme]
Name=察元AI
Description=察元AI SDDM 登录主题
Type=sddm-theme
Author=chatop
Copyright=(c) 2024
License=GPL
Version=1.0
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=chatop
Theme-API=2.0
